<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block stylesheet %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {% endblock stylesheet %}
    <title> {% block title %}Practice Symfony{% endblock title %}</title>
</head>
<body>
    <div class="container">
        <div id="header" class="jumbotron">
            <h1>Ma plateforme d'annonce</h1>
            <p>Ce projet est réalisé sur Symfony 3.3.14</p>
            <a href="http://florian-fremin.fr" target="_blank" class="btn-lg btn btn-primary">
            Visiter mon portfolio
            </a>
        </div>
        <div class="row">
            <div id="menu" class="col-md-3">
                <h3>Les annonces</h3>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="{{ path('ff_platform_home') }}">Accueil</a></li>
                    <li><a href="{{ path('ff_platform_add') }}">Ajouter une annonce</a></li>
                </ul>
                <h4>Dernières Annonces</h4>
                 {{ render (controller("ffPlatformBundle:Advert:menu",{'limit':3}))}}

            </div>
            <div class="content col-md-9">
                {% block body %}
                    
                {% endblock body %}
            </div>
        </div>
        <hr>
        <footer>
            <p>Ce projet est réalisé en {{ 'now' | date('Y')}} par Florian Fremin.</p>
        </footer>
    </div>
    {% block javascripts %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% endblock javascripts %}
</body>
</html>